@charset "UTF-8";

.box1 {
	background-color:#CCFFFF;
	border: 1px solid #000000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 50%;
	height: 50%;
	position: absolute;
}

ul{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	margin: auto;
}

p{
	
	margin:20px;
}